@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/public-sans-v4-latin-100.woff2") format("woff2"),
       url("../fonts/public-sans-v4-latin-100.woff") format("woff");
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/public-sans-v4-latin-regular.woff2") format("woff2"),
       url("../fonts/public-sans-v4-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/public-sans-v4-latin-500.woff2') format('woff2'),
       url('../fonts/public-sans-v4-latin-500.woff') format('woff');
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  padding-top: 80px;
  margin: 0;
  font-family: "Public Sans","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.site-header{
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  background-color: #fff;
}
.header-container{
  display: flex;
  align-items: center;
}
.site-nav{
 display: flex;
 align-items: center;
 margin-right: auto;
}
.logo-link{
  margin-right: 220px;
}
.logo-img{
  vertical-align: middle;
  width: 139px;
  height: 20px;
}
.nav-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-item{
  display: block;
}
.nav-link{
  display: inline-block;
  align-items: baseline;
  padding: 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;

}
.button{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 8px 34px;
  background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
  white-space: nowrap;
}
/* Hero section */
.main-button{
  padding: 13px 34px;
}
.hero-section{
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: auto ;
  background-position:calc(100% / 2 + 500px) calc(100% / 2 - 50px);
}
.hero-container{
  padding: 170px 0;

}
.hero-info{
 max-width: 447px;
}
.hero-heading{
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2D314D;
}
.hero-text{
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
}
.hero-img{
  position: absolute;
  z-index: 1;
  left: calc(50%);
  bottom: -160px;
  vertical-align: baseline;
  width: 728px;
  height: 900px;
}








@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}